body {
    background-color: #f4f5f6;
    font-family: monospace;
}

.wrapper {
    margin: 0 auto;
}

.inner-wrapper {
    display: flex;
    padding: 8px;
}

.contact {
    margin: 0 auto;
}

.contact h1 {
    background-color: black;
    padding: 0.1em 0.3em;
    margin: 0 auto;
    color: white;
    margin-top: 0;
    text-align: center;
}

.contact a {
    color: inherit;
    text-decoration: none;
    margin-right: 20px; /* Add some spacing between links */
}

.contact a:hover {
    text-decoration: underline;
}

.logo {
    height: 20px;
}

.resume {
    margin-top: 20px;
    text-align: center;
}
