main {
    color: #cccccc;
    font-family: "Proxima Nova";
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

h1 {
    font-size: 3.3em; 
}

h2 {
    font-size: 2.3em; 
}

h3 {
    font-size: 1.5em;
}

.highlight {
    color: #f39c12;
   /* Highlight color for keywords */
}

/* SECTIONS */

section {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    box-sizing: border-box;
    overflow: hidden;
}

section:nth-child(odd) {
    background-color: #222222;

}
section:nth-child(even) {
    background-color: #1e1e1e;

}

#projects {
    display: flex;
    flex-wrap: wrap; /* Allow projects to wrap to the next row */
    justify-content: center; /* Align projects starting from the left */
}

.project {
    background-color: #1e1e1e;
    z-index: 98;
    margin: 20px;
    width: calc(50% - 40px); /* Distribute projects equally in three columns, considering margins */
    box-sizing: border-box; /* Include padding and borders in the width calculation */
    display: flex; /* Use flexbox for consistent height of project cards */
    flex-direction: column; /* Stack content vertically inside project cards */
}

.project h2 {
    margin-bottom: 10px; /* Add some space between heading and paragraph */
    margin-top: 10px;
}

.project p {
    flex-grow: 1; /* Let the paragraph grow to take remaining space */
    margin-bottom: 10px; /* Add some space between paragraphs and tags */
}

.project-tags {
    margin-top: auto; /* Push tags to the bottom of the project card */
}

.project-photo {
    border-radius: 8px;
}

.project-link-github-buttons img{
    width: 50px;
    margin: 8px;
}

.project-link-github-buttons img:hover{
    transform: scale(1.1);
    transition: all 0.5s ease 0s;

}

.project-link-demo-buttons img{
    width: 46px;
    margin: 8px;
}

.project-link-demo-buttons img:hover{
    transform: scale(1.1);
    transition: all 0.5s ease 0s;

}

#certifications {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
}

#certification-pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.certification {
    flex: 0 1 calc(40% - 40px); /* Two items per row with margin */
    margin: 20px; /* Adjust margin as needed */
    display: flex;
    justify-content: center; /* Center image horizontally */
}

.certification img {
    max-width: 100%; /* Ensure images don't exceed container width */
    border-radius: 8px;
}





#landing-section {
    background-image: url("/resources/images/backgrounds/42.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* BUTTONS */

button {
    padding: 9px 25px;
    margin: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    
    
}

button:hover {
    transition: all 0.5s ease 0s;
    transform: scale(1.1);
}

.landing-section-button {
    background-color: rgb(33, 151, 230);
    width: calc(30%); /* Distribute projects equally in three columns, considering margins */
    box-sizing: border-box; /* Include padding and borders in the width calculation */

}

.landing-section-button:hover {
    background-color: rgb(51, 164, 240);
}

/* SOCIAL MEDIA BOX*/

#social-media-box {
    position: fixed;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    z-index: 99;
}

.social-media-link img {
    width: 40px;
    height: auto;
    border-radius: 50%;
    
}
.social-media-link:hover img {
    transform: scale(1.2);
    transition: transform 0.5s ease;
}

/* FILTER CONTAINER */

#filter-container {
    align-items: center;
    max-width: 60%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 15px;
    
}
.filter-buttons {
    justify-content: center;
    align-items: center;
}
.filter-buttons button {
    background-color: #464a4e;
    color: #edf0f1;
    width: 100px;
}
#filter-buttons button.active, .filter-buttons button:hover {
    background-color: rgb(52, 152, 219);
    color: #fff;
}
#reset-button {
    border-radius: 5px;
    cursor: pointer;
    border: 3px solid darkred;
    background-color: rgb(207, 29, 29);
    white-space: nowrap;
    width: 100px;
}

#reset-button:hover {
    background-color: rgb(252, 0, 0);
}


/* BACK TO TOP BUTTON */

#backToTopBtn {
    position: fixed;
    bottom: 45px;
    right: 20px;
    background-color: rgba(52, 152, 219, 1);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    transition: opacity .8s ease;
    color: whitesmoke;
}
#backToTopBtn.show {
    opacity: 1;

}
#backToTopBtn:hover {
    background-color: rgba(52, 152, 219, 0.8);
    transition: all 0.5s ease 0s;
    transform: scale(1.1);
}

/* FOOTER */

footer {
    background-color: #1a1a1a;
    padding: 10px 30px;
    border-top: 3px solid #1d1e22;
    color: whitesmoke;
    
}
.footer-content {
    text-align: center;
    
}

footer a {
    text-decoration: underline;
    color: whitesmoke;
}

footer a:hover {
    color: rgba(52, 152, 219, 1); 
}

@media only screen and (max-width: 600px) {
    #projects .project {
        width: 100%; /* Set projects to take up full width */
    }

    #certification-pictures {
        flex-direction: column;
    }
}

