* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    color: #cccccc;
    font-family: "monospace", "Courier New", Lucida Console;
    text-decoration: none;
}

#inprogress-label {
    display: flex;
    flex-direction: column;
    z-index: 100;
    background-color: red;
    position: fixed;
    top: 73px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    background: linear-gradient(to right, #ff3300, #feb47b);
    background-size: 200% 100%;
    animation: gradientAnimation 5s ease infinite;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: space-between;
    align-items: center;
}

#close-btn {
    cursor: pointer;
    padding: 5px;
    font-size: 18px;
    color: white;
    background-color: #333; /* Add a background color */
    border-radius: 5px; /* Optional: Add border-radius for rounded corners */
    margin-top: 5px;
}

#close-btn:hover {
    background-color: #555; /* Change background color on hover */
    color: #ddd;
}

@keyframes gradientAnimation {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

#social-media-box {
    position: fixed;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333;
    padding: 15px;
    border-radius: 10px;
    z-index: 99;
  }
  
  .social-media-link {
    margin-bottom: 10px;
  }
  
  /* Add this CSS for social media icons hover effect */
.social-media-link img {
    width: 40px; /* Adjust the size of the social media icons as needed */
    height: auto;
    border-radius: 50%;
    transition: transform 0.3s ease; /* Add a transition effect for smooth scaling */
}

.social-media-link:hover img {
    transform: scale(1.2); /* Scale the social media icon on hover */
}


.wrapper {
    overflow: hidden; /* Hide any content that overflows the wrapper */
}
h2 {
    color: #ffffff 
}
.container {
    max-width: 100%;
    margin: 0 auto;
}
body {
    flex-direction: column;
}
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 2%;
    border-bottom: 3px solid #1d1e22;
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    z-index: 99;
    background-color: #1a1a1a;
    color: #ffffff;
}
.headerlogo {
    cursor: none;
    height: 50px;
    padding: 10px;
    margin-right: auto;
}
.nav_links {
    list-style: none;
}
/* Add styling for the navigation links */
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a {
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
    color: #0088a9;
}
button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(52, 152, 219, 1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: rgba(52, 152, 219, 0.8);
}
.content-section {
    text-align: center;
    padding: 20px;
    box-sizing: border-box; /* Include padding in the element's total width and height */
    overflow: hidden; /* Hide any content that overflows the padding */
}

/* Add the alternating background colors */
.content-section:nth-child(odd) {
    background-color: #222222;
   /* Lighter color for odd sections */
}
.content-section:nth-child(even) {
    background-color: #1e1e1e;
   /* Darker color for even sections */
}
/* Adjust the styling of the 'top' section to accommodate the padding */
#top {
    background-image: url("/resources/images/backgrounds/42.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#top-buttons {
    display: flex;
    flex-direction: column;
   /* Change to row for horizontal alignment */
    justify-content: center;
    align-items: center;
}
#top-buttons a {
    margin: 10px;
   /* Adjust the spacing around buttons */
}
#top-buttons button {
    width: 100px;
   /* Set a fixed width for the buttons */
    padding: 5px;
    background-color: rgba(52, 152, 219, 1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
#top-buttons button:hover {
    background-color: rgba(52, 152, 219, 0.8);
}
#top-buttons img {
    width: 15px;
   /* Set the width of the download image */
}
/* Adjust the styling of the 'top' section text */
#top p {
    font-size: 1.5em;
    margin-top: 10px;
   /* Add some margin for spacing */
}
.highlight {
    color: #f39c12;
   /* Highlight color for keywords */
}
button#project {
    margin: 50px;
}
/* Add styling for the About Me section */
#about {
    color: #edf0f1;
    text-align: center;
}
#about p {
    font-size: 1.2em;
    padding: 1% 30%;
}
#about strong {
    color: #0088a9;
   /* Highlight color for strong tags */
}
.filter-buttons {
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
   /* Add a border around the buttons */
    border: 2px solid #464a4e;
    border-radius: 5px;
    padding: 10px;
   /* Adjust padding as needed */
}
.filter-buttons button {
   /* Adjust margin for spacing between buttons */
    padding: 8px 12px;
    background-color: #464a4e;
   /* Light grey */
    color: #edf0f1;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: 3px solid #1e1e1e;
}
.filter-buttons button.active, .filter-buttons button:hover {
    background-color: rgba(52, 152, 219, 0.8);
    color: #fff;
}
.reset-button {
   /* Adjust margin for spacing between buttons */
    padding: 4px 10px;
   /* Light grey */
    color: #edf0f1;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: 3px solid darkred;
    background-color: rgba(196, 11, 11, 0.8);
}
.reset-button:hover {
    background-color: rgb(252, 0, 0);
    color: #fff;
}
.project-right {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.project-right-info {
    text-align: center;
    max-width: 600px;
}
/* Add this CSS to center .project-right-details */
.project-right-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
   /* Center horizontally */
    width: 70%;
   /* Adjust the width as needed */
    padding: 0 20px;
   /* Add minimum left and right padding */
}
.project-right-tags {
    margin-top: 10px;
}
.project-right-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.project-right-buttons a {
    margin: 10px;
    padding: 5px 10px;
    background-color: rgba(52, 152, 219, 1);
    border-radius: 5px;
}
.project-right-buttons a:hover {
    background-color: rgba(52, 152, 219, 0.8);
}
.project-right-photo {
    margin-left: auto;
   /* Move the image to the right edge */
}
.project-right-photo img {
    width: 600px;
}
.project-left {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 30px;
}
.project-left-info {
    text-align: center;
    max-width: 600px;
}
/* Add this CSS to center .project-right-details */
.project-left-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
   /* Center horizontally */
    width: 70%;
   /* Adjust the width as needed */
    padding: 0 20px;
   /* Add minimum left and right padding */
}
.project-left-tags {
    margin-top: 10px;
}
.project-left-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.project-left-buttons a {
    margin: 10px;
    padding: 5px 10px;
    background-color: rgba(52, 152, 219, 1);
    border-radius: 5px;
}
.project-left-buttons a:hover {
    background-color: rgba(52, 152, 219, 0.8);
}
.project-left-photo {
    margin-left: auto;
   /* Move the image to the right edge */
}
.project-left-photo img {
    width: 600px;
}
.certification img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    width: 600px;
}

#blog {
    color: #edf0f1;
    text-align: center;
  }
  
  .blog-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .blog-post {
    width: 300px;
    margin: 20px;
    padding: 15px;
    background-color: #333333;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  
  .blog-post:hover {
    transform: scale(1.05);
  }
  
  .blog-post h3 {
    color: #0088a9;
  }
  
  .blog-post p {
    margin-top: 10px;
  }
  
/* Add styling for the Contact section */
section#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
section#contact form {
    max-width: 100%;
   /* Adjust the maximum width as needed */
    width: 600px;
}
section#contact form label, section#contact form input, section#contact form textarea {
    display: flex;
    margin-bottom: 15px;
}
section#contact form input, section#contact form textarea {
    color: black;
}
section#contact form textarea {
    width: 600px;
    resize: vertical;
}
section#contact form input[type="submit"] {
    background-color: rgba(52, 152, 219, 1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 9px 25px;
    transition: all 0.3s ease 0s;
    ;
}
section#contact form input[type="submit"]:hover {
    background-color: rgba(52, 152, 219, 0.8);
}
#backToTopBtn {
    position: fixed;
    bottom: 40px;
    right: 20px;
    background-color: rgba(52, 152, 219, 1);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
   /* Start with 0 opacity */
    transition: opacity .8s ease;
   /* Add a transition for the opacity property */
}
#backToTopBtn.show {
    opacity: 1;
   /* Show the button by setting opacity to 1 */
}
#backToTopBtn:hover {
    background-color: rgba(52, 152, 219, 0.8);
}
footer {
    background-color: #1a1a1a;
    padding: 10px 30px;
    border-top: 3px solid #1d1e22;
    
}
.footer-content {
    text-align: center;
}
.copyright {
    font-size: 14px;
}
.copyright a {
    font-size: 14px;
    text-decoration: underline;
}
.certification img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
.certification p {
    margin-top: 10px;
    font-size: 1.2em;
}
/* Existing styles remain unchanged */
@media only screen and (max-width: 1000px) {
   /* Adjustments for smaller screens */
    header {
        justify-content: space-between;
        padding: 0 2%;
   }
    .headerlogo {
        width: 150px;
        margin: 0 auto;
       /* Center the logo horizontally */
   }
    .nav_links {
        display: flex;
        flex-direction: column;
        width: 70%;
        background-color: #24252a;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 99;
        opacity: 0;
       /* Initially set to 0 */
        transform: translateY(100%);
       /* Initially off the screen */
        transition: opacity 0.8s ease, transform 0.8s ease;
       /* Add transition for smooth effect */
   }
    .nav_links.show {
        opacity: 1;
       /* Fade in by setting opacity to 1 */
        transform: translateY(0);
   }
    .nav_links li {
        padding: 15px;
   }
    .cta {
        display: none;
   }
    #backToTopBtn {
        display: none;
   }
    .menu-icon {
        cursor: pointer;
        display: block;
        position: fixed;
       /* Set the position to fixed for absolute positioning on the screen */
        bottom: 20px;
       /* Adjust the distance from the bottom */
        right: 20px;
       /* Adjust the distance from the right */
        width: 30px;
        margin-top: 5px;
   }
    .menu-icon div {
        width: 30px;
        height: 3px;
        background-color: grey;
        margin: 6px 0;
        transition: 1s;
   }
    .menu-icon.active div:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
   }
    .menu-icon.active div:nth-child(2) {
        opacity: 0;
   }
    .menu-icon.active div:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
   }
    #about p {
        font-size: 1em;
        padding: 0;
   }
    section#contact form textarea {
        width: 100%;
        resize: vertical;
   }
    section#contact form label {
        text-align: left;
   }
    #top-buttons button {
        align-items: center;
   }
    .content-section {
        padding: 50px;
       /* Adjusted padding for smaller screens */
   }
    #top {
        height: 100vh;
       /* Allow the height to adjust based on content */
   }
    #top-buttons a {
        margin: 10px;
       /* Adjusted spacing around buttons */
   }
    #top-buttons button {
        width: auto;
       /* Allow the width to adjust based on content */
   }
    #top-buttons img {
        width: 15px;
       /* Adjusted size of the download image */
   }
    .project-left, .project-right {
        flex-direction: column;
       /* Adjusted for vertical stacking on smaller screens */
   }
    .project-left-photo, .project-right-photo {
        margin-left: 0;
       /* Reset margin for image alignment */
   }
    .project-left-photo img, .project-right-photo img {
        width: 100%;
       /* Adjusted image width for responsiveness */
   }
}
/* Additional styles for larger screens */
@media only screen and (min-width: 1450px) {
    #projects {
        padding-left: 400px;
       /* Adjust the left padding for larger screens as needed */
        padding-right: 400px;
       /* Adjust the right padding for larger screens as needed */
   }
    #projects .project-right-details {
        width: 100%;
       /* Adjust the width as needed */
        padding-right: 50px;
       /* Add more left and right padding */
        padding-left: 50px;
       /* Add more left and right padding */
   }

   #projects .project-left-details {
        width: 100%;
       /* Adjust the width as needed */
        padding-left: 50px;
       /* Add more left and right padding */
        padding-right: 50px;
       /* Add more left and right padding */
   }
}
@media only screen and (min-width: 2200px) {
    #projects {
        padding-left: 600px;
       /* Adjust the left padding for larger screens as needed */
        padding-right: 600px;
       /* Adjust the right padding for larger screens as needed */
   }
    #projects .project-right-details {
        padding-left: 100px;
       /* Add more left padding for screens wider than 2200px */
   }

   #projects .project-right-details {
    padding-right: 100px;
   /* Add more left padding for screens wider than 2200px */
}
}
